.loader {
    @include element(100vw, 100vh);
    @include flex(row, center, center);
    @include position(fixed, 0, 0, 0, 0);
    background: map-get(map-get($colors, "lightModeColors"), "bg-color");
    z-index: 9;
    animation: loader 2s linear forwards;

    @keyframes loader {
        0% {
            opacity: 1;
            visibility: visible;
        }
        90% {
            opacity: 1;
            visibility: visible;
        }
        100% {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__div {
        @include element(2.4rem, 2.4rem, 0, 1rem);
        border-radius: 50%;
        background-color: map-get(map-get($colors, "lightModeColors"), "details" );
        animation: scaling 2s ease-in infinite;
        transform: scale(0);

        @keyframes scaling {
            0%, 100% {
                transform: scale(0.2);
            }
            40% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
            }
        }
        &:nth-child(1) {
            animation-delay: 0s;
        }
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.4s;
        }
    }
}

.menu-btn {
    &__burger {

        &.open {
            transform: rotate(720deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(0.5rem, 0.8rem);
                background-color: get-text-color(map-get(map-get($colors, "darkModeColors"), "bg-color"));
            }

            &::after {
                width: 2.8rem;
                transform: rotate(-45deg) translate(0.3rem, -0.7rem);
                background: get-text-color(map-get(map-get($colors, "darkModeColors"), "bg-color"));
            }
        }
    }
}

.header__nav {
    @include element(100vw, 100vh);
    @include position(fixed, 0, 0, 0, 0);
    @include transition;
    opacity: 0.98;
    visibility: hidden;
    color: get-text-color(#2e2e2e);

    &.open {
        visibility: visible;
    }

    &.closing {
        transition-delay: 1s;
        visibility: hidden;
    }

    &--list {
        @include flex(column, center, center);
        @include element(100%, 100vh);
        @include transition;
        flex-flow: column wrap;
        background: map-get(map-get($colors, "darkModeColors"), "bg-color");
        list-style-type: none;
        overflow: hidden;
        transform: translateY(-100%);	

        &.open {
            transform: translateY(0);
        }
    }

    &--item {
        @include transition;
        transform: translateX(100vw);

        &.open {
            transform: translateX(0);

            &.active > a{
                color: map-get(map-get($colors, "darkModeColors"), "link-hover")
            }
        }
    }

    &--link {
        @include transition;
        display: inline-block;
        text-transform: uppercase;
        font-size: 2rem;
        padding: 2rem 0;
    }
}

@for $i from 1 through 5 {
    .header__nav--item:nth-child(#{$i}){
        transition-delay: ($i * 0.1s) + 0.15s;
    }
}

.home {
    h2:nth-child(1) {
        animation: 2s home-sec1 1.5s ease-in-out;
    }

    @keyframes home-sec1 {
        0% {
            transform: translateY(30rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    &__name {
        animation: 2s home-sec2 1.7s ease-in-out;
    }

    @keyframes home-sec2 {
        0% {
            transform: translateY(30rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    &__job {
        animation: 2s home-sec4 1.9s ease-in-out;
    }
    @keyframes home-sec4 {
        0% {
            transform: translateY(30rem);
        }
        100% {
            transform: translateY(0);
        }
    }
}

#footer-container {
    animation: footer-up 2s ease-in-out 1.9s;
}

@keyframes footer-up {
    0% {
        transform: translateY(15rem);
    }
    100% {
        transform: translateY(0);
    }
}

.modal {
    transition: opacity 0.3s, visibility 0s 0.3s;
    animation: showModal 0.5s forwards;

    @keyframes showModal {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &__container {
        animation: scaleC 0.4s ease-out forwards;

        @keyframes scaleC {
          0% {
            transform: scale(0);
          }
          100% {
            transform: scale(1);
          }
        }
    }
    
    &.hidden {
        transition: opacity 0.3s ease-out, visibility 0s 0.3s;
  
          .modal__container {
            animation: scaleCo 0.3s ease-out forwards;
          }
  
          @keyframes scaleCo {
            0% {
              transform: scale(1);
            }
            100% {
              transform: scale(0);
            }
          }
        }
  
    &.visible {
        transition: opacity 0.3s ease-out;
    }
}
