@media (min-width: 425px) {
    .about, .future, .services, .tech, .projects {
        padding: 2rem;
    }

    .about {
        padding-block-start: 4rem;
    }

    .projects {
        padding-block-end: 4rem;

        .project__contain {
            padding: 2rem;
        }

        .project__btns {
            a {
                font-size: 1.6rem;
            }
        }
    }

    .tech {
    }

    .projectss {
        &__info {
            padding: 0 2rem;
        }    

        .project__img {
            @include element(30rem, 30rem);
        }

        &__work-xp {
            padding: 2rem;
        }

        &__thanks {
            padding: 2rem 2rem 14rem 2rem;
        }
    }

    .contact {

        &__container {
            padding-block-start: 4rem;

            form {
                div {
                    width: 32rem;
                }
            }
        }
    }
}
