$colors: (
  "lightModeColors": (
    "bg-color": #dfeaff,
    "cards": #ffffff,
    "main-text": #2e2e2e,
    "details": #407bff,
    "shadow": rgba(0, 0, 0, 0.1),
    "link": #1e90ff,
    "link-hover": darken(#1e90ff, 10%), 
    "border": #ddd
  ),
  "darkModeColors": (
    "bg-color": #1b1f28,
    "cards": #252a34,
    "main-text": #e4e6eb,
    "details": #407bff,
    "shadow": rgba(0, 0, 0, 0.4),
    "link": #4a90e2,
    "link-hover": darken(#4a90e2, 10%), 
    "border": #444
  ),
  "stateColors": (
    "success": #4caf50,
    "error": #f44336,
    "warning": #ff9800,
    "info": #2196f3,  
    "disabled": #9e9e9e,
  )
);

$typography: (
    "title": (
        "font": "Poppins",
        "size": 3.2rem,
        "weight": 700,
    ),
    "subtitle": (
        "font": "Poppins",
        "size": 2.4rem,
        "weight": 600,
    ),
    "text": (
        "font": "Raleway",
        "size": 1.6rem,
        "weight": 400,
    ),
    "buttons": (
        "font": "Poppins",
        "size": 1.6rem,
        "weight": 600,
        "transform": "uppercase",
    )
);

$images: (
  "logos": (
    "logo-light": "/assets/images/log/lumina-logo-light.png",
    "logo-dark": "/assets/images/log/lumina-logo-dark.png",
  ),
  "icons": (
    "icon-light": "/assets/images/log/lumina-icon-light.ico",
    "icon-dark": "/assets/images/log/lumina-icon-dark.ico",
  ),
  "photos": (
    "profile": "../assets/images/photos/me.jpg",
    "profile2": "../assets/images/photos/me2.jpg",
    "profile3": "../assets/images/photos/me3.jpg",
    "profile4": "../assets/images/photos/me4.jpg",
    "profile5": "../assets/images/photos/me5.jpg",
    "hero-img": "../assets/images/photos/hero-img.png",
    "whoami": "../assets/images/photos/whoami.jpg",
  ),
  "projects": (
    "ubuntu": "https://images.unsplash.com/photo-1461749280684-dccba630e2f6?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    "r&r": "https://images.unsplash.com/photo-1417733403748-83bbc7c05140?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    "codecanvas": "https://images.unsplash.com/photo-1508921340878-ba53e1f016ec?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    "lunaria-shop": "https://images.unsplash.com/photo-1499750310107-5fef28a66643?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    "cryptonest": "https://images.unsplash.com/photo-1600267165517-13aa4805b387?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    "bg": "https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  )
)