---
const year = new Date().getFullYear();

import Link from "../ui/Link.astro";
---

<footer class="w-full bg-bg-card/90 backdrop-blur backdrop-saturate-150 bg-[var(--bg-blur)] dark:bg-[var(--bg-blur)] md:px-16 lg:px-24">
  <div class="container-prose w-full px-[16px] py-5 opacity-90 inline-flex flex-col justify-center items-center gap-6 md:flex-row md:justify-between md:items-center md:gap-0 md:opacity-100">
    <nav aria-label="Footer" class="inline-flex justify-center items-center gap-32">
      <Link href="/legal/privacy" class="nav-link">Privacidad</Link>
      <Link href="/legal/conditions" class="nav-link">Condiciones</Link>
      <Link href="/blog/" class="nav-link">Blog</Link>
    </nav>

    <div class="inline-flex justify-center items-center gap-16 md:justify-end">
      <a href="/" aria-label="Inicio" class="flex items-center gap-3">
        <img src="/brand/lumina-logo-light.svg" alt="Lúmina" class="h-32 dark:hidden" />
        <img src="/brand/lumina-logo-dark.svg"  alt="Lúmina" class="h-32 hidden dark:block" />
      </a>
      <div class="text-body-xs text-[var(--text-primary)]">© Lúmina {year}</div>
    </div>
  </div>
</footer>