@import '../components/variables';

$opacity: 0.4;

.home-body {
    @include element(100%, 100vh);
    overflow: hidden;
}

.gradient {
    @include position(absolute, 0, 0, 0, 0);
    background: linear-gradient(-115deg, rgba(map-get(map-get($colors, "lightModeColors"), "details"), $opacity), rgba(map-get(map-get($colors, "darkModeColors"), "bg-color"), 0.2));
}

.home {
    @include position(relative);
    @include grid(1, 1fr, 1fr 1fr, 0);
    height: 100%;
    overflow: hidden;
    align-items: center;
    text-align: center;
    padding-block-end: 4rem;
    color: map-get(map-get($colors, "lightModeColors"), "main-text");

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        padding-block-end: 0;
    }

    @media (min-width: 1024px) {
        @include grid(2, 1fr, 1fr);
    }

    &__animation {
        @include element(100%, auto, 0, 0);

        @media (min-width: 768px) {
            width: initial;;
        }
    }

    &__bg {

        img {
            @media (min-width: 1024px) {
                height: auto;
            }
        }
    }

    h2 {
        font-size: 1.6rem;
        margin-block-end: 2rem;

        @media (min-width: 768px) {
            font-size: 1.8rem;
        }
    }

    &__name {
        font-size: 2.4rem;
        font-weight: 400;
        padding-bottom: 2rem;
        margin: 1rem auto;
        line-height: 4rem;
        border-bottom: 0.2rem solid map-get(map-get($colors, "lightModeColors"), "main-text");

        &--last {
            font-size: 5rem;
            color: map-get(map-get($colors, "lightModeColors"), "details");
            font-weight: 900;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            letter-spacing: 1rem;
        }
    }

    &__job {
        margin-block-start: 1rem;
        margin-block-end: 0 !important;
    }
}