---
import Chip from "../ui/Chip.astro";
import Link from "../ui/Link.astro";
import Icon from "../ui/Icon.astro";
import Slider from "../ui/Slider.astro";

const { title = "Más allá de", subtitle = "Código e Interfaces" } = Astro.props;
---

<section class="py-9 px-[32px] flex flex-col w-full justify-self-center lg:justify-center lg:items-center">
  <div class="flex flex-col gap-10 w-full lg:max-w-[1024px]">
    <header class="lg:max-w-[1024px] lg:w-full">
      <h2 class="text-[28px] font-bold text-[var(--text-primary)]">{title}</h2>
      <p class="text-body-xl font-bold text-[var(--brand-blue)]">{subtitle}</p>
    </header>

    <div class="flex flex-col md:flex-row gap-10 md:gap-20 justify-between items-center lg:max-w-[800px] lg:self-center">
      <div class="flex flex-col items-center md:items-start gap-5 w-full">
        <img src="/images/about/photo-no-bg.webp" alt="Foto de Valentina Ramírez"  class="w-[320px] h-[320px] rounded-full object-cover bg-gradient-to-b from-brand-blue to-bg-page shadow-md shadow-[var(--shadow-base)]"/>
      </div>
      <div>
        <h3 class="text-[22px] font-bold bg-gradient-to-r from-brand-blue to-text-primary bg-clip-text text-transparent mb-3 text-center md:text-start">Valentina, un placer.</h3>
        <p class="text-[var(--text-primary)] leading-relaxed">Soy una amante del café y de mi playlist súper crossover; una autodidacta apasionada por aprender, cocinar y tocar la batería. <br><br> Me encantan las películas animadas, los animales, el azul y Twenty One Pilots. <br><br> Sueño con dominar la Ciberseguridad, Linux y el Backend, entre otras cosas.</p>
      </div>
    </div>

    <div>
      <h3 class="text-[18px] mb-3 text-[var(--text-primary)] md:text-center">Mi Stack favorito.</h3>
      <div class="flex flex-wrap gap-2 justify-center lg:max-w-[1024px] lg:w-full">
          <Chip>JavaScript</Chip>
          <Chip>React</Chip>
          <Chip>TailwindCSS</Chip>
          <Chip>Astro</Chip>
          <Chip>Materialize</Chip>
          <Chip>Figma</Chip>
          <Chip>Notion</Chip>
          <Chip>GitHub</Chip>
          <Chip>Behance</Chip>
      </div> 
    </div>

     <Slider />

     <div class="flex flex-col items-center gap-5">
      <p class="text-center text-[var(--text-primary)] italic">¿Te animas a descubrir qué hay detrás de mi pasión por el aprendizaje, el café y mi musa?</p>
      <div class="flex gap-2">
        <Link href="/more/about" rel="noopener" class="inline-flex items-center justify-center rounded-md text-[var(--accent-link)] hover:bg-[var(--accent-link)]/10">Conocer más</Link>
          <Link href="/cv_frontend_ux-ui_en.pdf" target="_blank" rel="noopener" class="inline-flex items-center justify-center w-11 h-11 rounded-md text-[var(--accent-link)] hover:bg-[var(--accent-link)]/10">
            <Icon src="/icons/ui/download-cv-blue.svg" size="md" />
          </Link>
      </div>
     </div>

  </div>
</section>