---
import Chip from "../ui/Chip.astro";
import Link from "../ui/Link.astro";
import MiniCard from "../ui/MiniCard.astro";
import Slider from "../ui/Slider.astro";

const { title = "Más allá de", subtitle = "Código e Interfaces" } = Astro.props;
---

<section class="w-auto mx-auto px-4 py-12 md:grid gap-7 md:grid-cols-2 items-center">
  <div class="flex flex-col gap-6 w-full">
    <header>
      <h2 class="text-[28px] font-bold text-[var(--text-primary)]">{title}</h2>
      <p class="text-body-xl font-bold text-[var(--brand-blue)]">{subtitle}</p>
    </header>

    <div class="flex flex-col items-center md:items-start gap-5 w-full">
      <img src="/images/about/photo-no-bg.webp" alt="Foto de Valentina Ramírez"  class="w-[320px] h-[320px] rounded-full object-cover bg-gradient-to-b from-brand-blue to-bg-page shadow-md shadow-[var(--shadow-base)]"/>
      <h3 class="text-[22px] font-bold bg-gradient-to-r from-brand-blue to-text-primary bg-clip-text text-transparent">Valentina, un placer.</h3>
    </div>

    <p class="text-base leading-relaxed">Soy una amante del café y de mi playlist súper crossover; una autodidacta apasionada por aprender, cocinar y tocar la batería. <br><br> Me encantan las películas animadas, los animales, el azul y Twenty One Pilots. <br><br> Sueño con dominar la Ciberseguridad, Linux y el Backend, entre otras cosas. <br><br> Cuando necesito un snack que me haga feliz, fresas con crema o Electrolyte de fresa son mi refugio. Ah, también amo leer.</p>

    <div class="flex flex-wrap gap-2 justify-center">
        <Chip>JavaScript</Chip>
        <Chip>React</Chip>
        <Chip>TailwindCSS</Chip>
        <Chip>Astro</Chip>
        <Chip>Materialize</Chip>
        <Chip>Figma</Chip>
        <Chip>Notion</Chip>
        <Chip>GitHub</Chip>
        <Chip>Behance</Chip>
    </div> 

     <Slider />

    <Link href="/about" class="nav-link">Conocer más</Link>
  </div>
</section>