$colors: (
  "lightModeColors": (
    "bg-color": #dfeaff,
    "cards": #ffffff,
    "main-text": #2e2e2e,
    "details": #407bff,
    "shadow": rgba(0, 0, 0, 0.1),
    "link": #1e90ff,
    "link-hover": darken(#1e90ff, 10%), 
    "border": #ddd
  ),
  "darkModeColors": (
    "bg-color": #1b1f28,
    "cards": #252a34,
    "main-text": #e4e6eb,
    "details": #407bff,
    "shadow": rgba(0, 0, 0, 0.4),
    "link": #4a90e2,
    "link-hover": darken(#4a90e2, 10%), 
    "border": #444
  ),
  "stateColors": (
    "success": #4caf50,
    "error": #f44336,
    "warning": #ff9800,
    "info": #2196f3,  
    "disabled": #9e9e9e,
  )
);

$typography: (
    "title": (
        "font": "Poppins",
        "size": 3.2rem,
        "weight": 700,
    ),
    "subtitle": (
        "font": "Poppins",
        "size": 2.4rem,
        "weight": 600,
    ),
    "text": (
        "font": "Raleway",
        "size": 1.6rem,
        "weight": 400,
    ),
    "buttons": (
        "font": "Poppins",
        "size": 1.6rem,
        "weight": 600,
        "transform": "uppercase",
    )
);

$images: (
  "icons": (
    "icon-light": "/assets/images/log/lumina-logo-light.ico",
    "icon-dark": "/assets/images/log/lumina-logo-dark.ico",
  ),
  "logos": (
    "logo-light": "/assets/images/log/lumina-logo-light.webp",
    "logo-dark": "/assets/images/log/lumina-logo-dark.webp",
  ),
  "photos": (
    "about-whoami": "/assets/images/photos/about-whoami.png",
  ),
  "projects": (
    "codecanvas": "/assets/images/photos/project-code-canvas-logo.png",
    "cryptonest": "/assets/images/photos/project-crypto-nest-logo.svg",
    "cryptonest-home": "/assets/images/photos/project-crypto-nest-home.png",
    "google-clon": "/assets/images/photos/project-google-clon-logo.svg",
    "google-clon-home": "/assets/images/photos/project-google-clon-home.png",
    "lunaria-shop": "/assets/images/photos/project-lunaria-shop-logo.svg",
    "managask": "/assets/images/photos/project-managask-logo.png",
    "managask-home": "/assets/images/photos/project-managask-home.png",
    "r&r": "",
    "ubuntu": "/assets/images/photos/project-ubuntu-logo.svg",
    "bg": "/assets/images/photos/bg-services.webp",
  )
)